html {
  scroll-behavior: smooth;
}

body {
  font-family: Tahoma;
  text-align: center;
  background-color: #bdc4d8;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
  align-items: center;
  height: 100%;
  padding-top: 0;
  line-height: 1.4285;
}

html {
  -webkit-text-size-adjust: 100%;
}

/*divs (eu acho)*/
* {
  margin: 0;
  padding: 0;
  width: auto;
  box-sizing: border-box;
}

u {
  cursor: pointer;
}

.lg-but {
  margin: 5px;
  position: fixed;
  text-align: right;
  width: auto;
  height: auto;
  z-index: 999;
}

.lg-but button img {
  width: 70px;
  height: 50px;
}

.ing-but {
  position: absolute;
  border-radius: 0px;
  background-color: rgb(31, 71, 87);
  width: 80px;
  height: 60px;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}


.pt-but {
  margin-left: 86px;
  position: absolute;
  border-radius: 0px;
  background-color: rgb(97, 165, 216);
  width: 80px;
  height: 60px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ads {
  position: fixed;
  width: 180;
  height: 45;
  display: block;

  right: 4px;
  bottom: 2px;
}

.pt {
  display: none;
}

.ing {
  display: block;
}

.go-up {
  width: 56px;
  height: 56px;
  position: fixed;
  background-color: rgb(59, 108, 146);
  bottom: -120px;
  transition: bottom linear .2s;
  cursor: pointer;
  margin-bottom: 42px;
  margin-left: 42px;
}

.go-up img {
  width: 56px;
  height: 56px;
}



.nav-tabs {
  width: 100%;
  height: auto;
  background-color: rgba(32, 41, 66, 0.904);
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100;
}

.nav-tabs ul {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 11px;
}

.nav-tabs ul li {
  float: left;
  /*position:relative;*/
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 14px;
  align-items: center;
  text-align: center;
  width: 150px;
  height: auto;
  display: block;
  justify-content: baseline;
}

#nav-tab-mobile {
  display: none;
}

.rd-tabs {
  display: none;
}

.tab-but {
  width: auto;
  height: auto;
  padding: 10px;
  display: block;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

#label3 {
  justify-content: center;
  display: flex;
}

.bar-select {
  transition: 0.2s linear;
  height: 0px;
  width: 0px;
  margin-left: 25px;
  position: absolute;
}


#but1:hover #bar1 {
  width: 100px;
  height: 5px;
  background-color: #c1c8db;
}

#but2:hover #bar2 {
  width: 100px;
  height: 5px;
  background-color: #c1c8db;
}

#but3:hover #bar3 {
  width: 100px;
  height: 5px;
  background-color: #c1c8db;
}

#but4:hover #bar4 {
  width: 100px;
  height: 5px;
  background-color: #c1c8db;
}

#but5:hover #bar5 {
  width: 100px;
  height: 5px;
  background-color: #c1c8db;
}

#but5 {
  margin-bottom: 10px;
}

#buttons-list {
  width: 100%;
  height: auto;
  background-color: rgba(32, 41, 66, 0.904);
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 80px;
  z-index: 100;
  display: none;
}

#buttons-list ul {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 11px;
}

#buttons-list ul li {
  margin-top: 10px;
}

.main-content {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.first-box {
  width: 100%;
  background-color: #333;
  background-repeat: no-repeat;
  background-image: url(../images/fundo.jp2);
  background-size: 100% 100%;
  height: 100vh;
  color: aliceblue;
  text-align: center;
}

.page-title {
  margin-bottom: 50px;
  margin-top: 100px;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  color: rgb(48, 48, 48);
}

.first-box img {
  margin-top: 12vh;
}

.name-title {
  margin-top: 30vh;
  font-size: 70px;
  margin-left: -40px;
  font-style: italic;
}

.last-name-title {
  font-size: 70px;
  margin-left: 40px;
  font-style: italic;
}

.second-box {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#my-name{
  font-size: 37px;
  margin-bottom: 10px;
}

.profile-box {
  margin-bottom: 30vh;
  text-align: center;
  width: 350px;
  color: #333;
  font-weight: bold;
  font-size: 22px;
  margin-top: 290px;
}

#profile-pic{
  position: absolute;
  left: 50%;
  margin-left: -95px;
  margin-top: 75px;
}

.bar-1{
  background-color:rgb(97,165, 216);
  border-radius: 90px;
  width:280px;
  height:4px;
  opacity: 0.4;
  margin-top:10px;
  left: 50%;
  margin-left: -140px;
  position:absolute;
}

.bar-2{
  background-color:rgb(97,165, 216);
  border-radius: 90px;
  width:260px;
  height:4px;
  opacity: 0.4;
  left: 50%;
  margin-left: -130px;
  position:absolute;
  margin-top:17px;
}

.bar-3{
  background-color:rgb(97,165, 216);
  border-radius: 90px;
  width:330px;
  height:4px;
  opacity: 0.4;
  margin-top:10px;
  left: 50%;
  margin-left: -165px;
  position:absolute;
}
.bar-4{
  background-color:rgb(97,165, 216);
  border-radius: 90px;
  width:310px;
  height:4px;
  opacity: 0.4;
  margin-top:17px;
  left: 50%;
  margin-left: -155px;
  position:absolute;
}

.bio {
  margin-top: 29px;
  font-weight: bold;
  font-size: 19px;

}

.info {
  color: #333;
  font-weight: bold;
  font-size: 19px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.third-box {
  width: 100%;
  background-color: #c1c8db;
  height: auto;
  justify-content: center;
  display: flex;
}

.mam-bottom {
  margin-top: 18px;
  background-color: rgba(97, 164, 216, 0);
  color: rgb(48, 48, 48);
  border-radius: 8px 8px 8px;
  text-align: left;
  height: auto;
  width: auto;
  max-width: 670px;
  font-weight: bold;
  margin-bottom: 140px;
}

.mam-bottom p {
  vertical-align: middle;
  padding: 10px;
  margin-left: 18px;
  width: auto;
  max-width: 730px;
  font-size: 19px;
}

.fourth-box {
  width: 100%;
  color: aliceblue;
  height: auto;
  text-align: center;
  color: rgb(36, 36, 36);
  vertical-align: middle;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.skills-but {
  width: 306px;
  height: auto;
  background-color: rgba(32, 41, 66, 1);
  color: #fff;
  cursor: pointer;
  text-align: center;
  float: left;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 10px;
}

.but-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-desc {
  display: none;
  width: 750px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(32, 41, 66, 1);
  color: floralwhite;
  border-radius: 2px;
  margin-bottom: 70px;
  margin-left: -60px;
}

.skills-desc p {
  margin: 20px;
  margin-top: 10px;
  font-size: 19px;
}

.skills-desc img {
  margin: 10px;
  cursor: zoom-in;
  transition: transform .2s;
}

.skills-desc video {
  margin: 10px
}

.skills-box {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  height: auto;
}

.skills-content {
  background-color: rgba(255, 0, 0, 0);
  display: block;
  height: auto;
  width: auto;
  max-width: 626px;
  text-align: center;
  align-items: center;
  font-size: 17px;
  margin-bottom: 100px;
}

.fifth-box {
  width: 100%;
  background-color: #c1c8db;
  color: rgb(36, 36, 36);
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.posts-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.close-but {
  border-radius: 12px;
  cursor: pointer;
  margin-left: 283px;
  width: 59px;
  height: 59px;
  background-color: rgba(32, 41, 66, 1);
  display: none;
}

.close-but img {
  margin-top: 9px;
  margin-left: 2px;
}


.posts-but {
  width: 306px;
  height: auto;
  background-color: rgba(32, 41, 66, 1);
  color: #fff;
  cursor: pointer;
  text-align: center;
  float: left;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 10px;
}

.posts-but img {
  margin-top: 10px;
}


.contact-page {
  display: none;
  height: auto;
}

.sixth-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.contact-box {
  width: 600px;
  margin-top: 50px;
}

.contact-options {
  width: 100%;
  display: block;
}

.contact-options ul {
  list-style: none;
  width: 100%;
  justify-content: center;
  display: flex;
}

.contact-options ul li {
  width: 182px;
  float: left;
}

.contact-options ul li a {
  text-decoration: none;
}

.contact-but {
  margin: 0px;
  width: 160px;
  height: 140px;
  padding: 5px;
  background-color: rgba(32, 41, 66, 1);
  display: block;
  color: #fff;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
  position: relative;
  margin-left: 10px;
  font-size: 20px;
}

.but-icon {
  margin-left: 60px;
  margin-top: 35px;
  width: 90px;
  height: 60px;
}

.email-box {
  width: 305px;
  background-color: rgba(32, 41, 66, 1);
  display: none;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #333;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.email-div {
  display: flex;
  width: 100%;
  justify-content: center;
}


#close-message {
  position: absolute;
  cursor: pointer;
  margin-left: -70px;
  width: 59px;
  height: 59px;
  border-radius: 7px;
  box-shadow: 0px 0px 20px #333;
  background-color: rgba(32, 41, 66, 1);
}

.contact-bar {
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: rgba(32, 41, 66, 0.534);
  z-index: 1000000;
  position: absolute;
}

.contact-bar p {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

#status-error {
  display: none;
}

#status {
  display: none;
}

#my-input {
  display: none;
}



#down-but {
  transition: linear 3s;
}

#contact-title {
  margin-bottom: 0px;
}



.form-group {
  width: 90%;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 4.5%;
  color: #fff;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.899);
  margin-top: 5px;
}

textarea {
  resize: vertical;
  min-height: 23px;
}

.send-message {
  width: 95%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: rgb(34, 108, 138);
  transition: background-color 0.5s ease;
}

.send-message:hover {
  background-color: rgb(31, 71, 87);
}

#status {
  width: 60%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: rgb(131 165 82 / 84%);
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: -4;
}

#status-error {
  width: 60%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: rgb(250, 129, 92);
  margin-left: 50px;
}

@media screen and (max-width: 1229px) {

  #nav-tabs {
    display: none;
  }

  #nav-tab-mobile {
    display: flex;
  }

}


@media screen and (max-width: 691px) {


  .posts-box {
    width: 100%;
  }

  .posts-but {
    width: 99%;
  }

  .posts-but img {
    width: 95%;
    height: auto;
  }

  .go-up {
  }

  .go-up img {
    width: 56px;
    height: 56px;
  }

  .close-but {
    margin-left: 161px;
  }

  .mam-bottom p {
    margin-left: 5px;
    font-size: 21px;
  }

  .skills-desc {
    width: 100%;
    margin-left: 0px;
  }

  .skills-desc p {
    font-size: 22px;
  }

  #buttons-list ul li {
    font-size: 22px;
  }

  .skills-but {
    width: 99%;
  }

  .but-title {
    font-size: 25px;
  }

  .skills-content {
    width: 99%;
    vertical-align: middle;
    display: table-cell;
  }


  .lg-but {
    margin-top: 15px;
    margin-left: 10px;
  }

  .pt-but {
    width: 60px;
    height: 50px;
    margin-left: 66px;
  }

  .ing-but {
    width: 60px;
    height: 50px;
  }

  .lg-but button img {
    width: 60px;
    height: 40px;
  }


  .contact-bar p {
    font-size: 25px;
    padding: 2px;
  }

  .contact-box {
    width: 350px;
    display: flex;
    justify-content: center;
  }

  .contact-options {
    display: flex;
    justify-content: center;
  }

  .contact-options ul {
    display: block;
    justify-content: center;
    width: 350px;
    height: 300px;
    align-items: center;
    vertical-align: middle;
  }

  .contact-options ul li {
    margin-bottom: 10px;
    width: 170px;
  }

  #close-message {
    margin-left: 123px;
    margin-top: -90px;
  }

  .email-box {
    margin-top: 50px;
  }


}